{% extends base %}

{% block css_resources %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  {{ super() }}
{% endblock %}

{% block js_resources %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  {{ super() }}
{% endblock %}

{% block contents%}
  <div class="container">
    <div class="row">
      {{ embed(roots.desc) }}
    </div>
    <div class="row">
      <div class="col-3">
        {{ embed(roots.reviews) }}
        {{ embed(roots.boxoffice) }}
        {{ embed(roots.genre) }}
        {{ embed(roots.min_year) }}
        {{ embed(roots.max_year) }}
        {{ embed(roots.oscars) }}
        {{ embed(roots.director) }}
        {{ embed(roots.cast) }}
        {{ embed(roots.x_axis) }}
        {{ embed(roots.y_axis) }}
        {{ embed(roots.boxoffice0) }}
        {{ embed(roots.boxoffice1) }}
        {{ embed(roots.boxoffice2) }}
        {{ embed(roots.boxoffice3) }}
        {{ embed(roots.boxoffice4) }}
        {{ embed(roots.boxoffice5) }}
        {{ embed(roots.boxoffice6) }}
        {{ embed(roots.boxoffice7) }}
        {{ embed(roots.boxoffice8) }}
        {{ embed(roots.boxoffice9) }}
        {{ embed(roots.boxoffice10) }}
        {{ embed(roots.boxoffice11) }}
        {{ embed(roots.boxoffice12) }}
        {{ embed(roots.boxoffice13) }}
        {{ embed(roots.boxoffice14) }}
        {{ embed(roots.boxoffice15) }}
        {{ embed(roots.boxoffice16) }}
        {{ embed(roots.boxoffice17) }}
        {{ embed(roots.boxoffice18) }}
        {{ embed(roots.boxoffice19) }}
        {{ embed(roots.boxoffice20) }}
        {{ embed(roots.boxoffice21) }}
        {{ embed(roots.boxoffice22) }}
        {{ embed(roots.boxoffice23) }}
        {{ embed(roots.boxoffice24) }}
        {{ embed(roots.boxoffice25) }}
        {{ embed(roots.boxoffice26) }}
        {{ embed(roots.boxoffice27) }}
        {{ embed(roots.boxoffice28) }}
        {{ embed(roots.boxoffice29) }}
        {{ embed(roots.boxoffice30) }}
        {{ embed(roots.boxoffice31) }}
        {{ embed(roots.boxoffice32) }}
        {{ embed(roots.boxoffice33) }}
        {{ embed(roots.boxoffice34) }}
        {{ embed(roots.boxoffice35) }}
        {{ embed(roots.boxoffice36) }}
        {{ embed(roots.boxoffice37) }}
        {{ embed(roots.boxoffice38) }}
        {{ embed(roots.boxoffice39) }}
        {{ embed(roots.boxoffice40) }}
        {{ embed(roots.boxoffice41) }}
        {{ embed(roots.boxoffice42) }}
        {{ embed(roots.boxoffice43) }}
        {{ embed(roots.boxoffice44) }}
        {{ embed(roots.boxoffice45) }}
        {{ embed(roots.boxoffice46) }}
        {{ embed(roots.boxoffice47) }}
        {{ embed(roots.boxoffice48) }}
        {{ embed(roots.boxoffice49) }}
        {{ embed(roots.boxoffice50) }}
        {{ embed(roots.boxoffice51) }}
        {{ embed(roots.boxoffice52) }}
        {{ embed(roots.boxoffice53) }}
        {{ embed(roots.boxoffice54) }}
        {{ embed(roots.boxoffice55) }}
        {{ embed(roots.boxoffice56) }}
        {{ embed(roots.boxoffice57) }}
        {{ embed(roots.boxoffice58) }}
        {{ embed(roots.boxoffice59) }}
        {{ embed(roots.boxoffice60) }}
        {{ embed(roots.boxoffice61) }}
        {{ embed(roots.boxoffice62) }}
        {{ embed(roots.boxoffice63) }}
        {{ embed(roots.boxoffice64) }}
        {{ embed(roots.boxoffice65) }}
        {{ embed(roots.boxoffice66) }}
        {{ embed(roots.boxoffice67) }}
        {{ embed(roots.boxoffice68) }}
        {{ embed(roots.boxoffice69) }}
        {{ embed(roots.boxoffice70) }}
        {{ embed(roots.boxoffice71) }}
        {{ embed(roots.boxoffice72) }}
        {{ embed(roots.boxoffice73) }}
        {{ embed(roots.boxoffice74) }}
        {{ embed(roots.boxoffice75) }}
        {{ embed(roots.boxoffice76) }}
        {{ embed(roots.boxoffice77) }}
        {{ embed(roots.boxoffice78) }}
        {{ embed(roots.boxoffice79) }}
        {{ embed(roots.boxoffice80) }}
        {{ embed(roots.boxoffice81) }}
        {{ embed(roots.boxoffice82) }}
        {{ embed(roots.boxoffice83) }}
        {{ embed(roots.boxoffice84) }}
        {{ embed(roots.boxoffice85) }}
        {{ embed(roots.boxoffice86) }}
        {{ embed(roots.boxoffice87) }}
        {{ embed(roots.boxoffice88) }}
        {{ embed(roots.boxoffice89) }}
        {{ embed(roots.boxoffice90) }}
        {{ embed(roots.boxoffice91) }}
        {{ embed(roots.boxoffice92) }}
        {{ embed(roots.boxoffice93) }}
        {{ embed(roots.boxoffice94) }}
        {{ embed(roots.boxoffice95) }}
        {{ embed(roots.boxoffice96) }}
        {{ embed(roots.boxoffice97) }}
        {{ embed(roots.boxoffice98) }}
        {{ embed(roots.boxoffice99) }}
      </div>
      <div class="col-9">
        {{ embed(roots.p) }}
      </div>
    </div>
  </div>
{% endblock %}
